.loginfo-grid {
    display: grid;
    grid-template-columns: 0.5fr 1.1fr 1.5fr;
    grid-template-rows: 0.1fr 3.0fr 0.8fr;
    grid-template-areas: ". . . ." ". main-content . ." ". main-edit . ." ". . . .";
}

.main-content { 
    grid-area: main-content; 
    border: 1px solid black;
}

h3 {
    font-family: 'Cambay', sans-serif;
}

h2 {
    font-family: 'Cambay', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Cambay', sans-serif;
    font-size: 0.82em;
}

.main-edit {
    grid-area: main-edit;
    justify-content: center;
    text-align: center;
}